Proj_ERPS_More_Setup/erp_2/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="product">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "productID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name = "orderID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name = "orderStatus" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name = "pQuantity" type="xs:integer" minOccurs="1" maxOccurs="1"/>
				<xs:element name = "producerID" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>


